{% extends 'base.html' %}
{% block title %}
О проекте Попа кота
{% endblock %}
{% block content %}
  {% load static %}
  <div class="container">
    <div class="row">
      <div class="col-4 offset-5">
        <h1><b>Попа кота</b></h1>
      </div>
      <div class="col-8 offset-2">
        <h4>
          <p>Проект Попа кота - это не только интернет-магазин, но и сообщество людей, которые поддерживают друг друга в создании продукта.</p>
          <p>В Попа кота мы предлагаем нашим клиентам высококачественные продукты по доступным ценам и предоставляем им лучшие услуги. Мы предлагаем широкий ассортимент продуктов для дома и офиса, включая мебель, бытовую технику, компьютерное оборудование, аксессуары и многое другое.</p>
          <p>Мы предлагаем бесплатную доставку по всей стране и гарантируем высокое качество наших продуктов.</p>
          <p>Наша команда постоянно работает над тем, чтобы предоставлять нашим клиентам лучшие услуги и продукты высокого качества по доступным ценам.</p>
          <p>Мы прилагаем все усилия, чтобы предоставить нашим клиентам лучший опыт покупки. Мы предлагаем поддержку нашим клиентам в любое время и готовы помочь им в любом вопросе.</p>
          <p>Мы постоянно работаем над тем, чтобы улучшать наши услуги и продукты, чтобы предоставить нашим клиентам лучший опыт покупки.</p>
        </h4>
      </div>
    </div>
  </div>
{% endblock %}
