<div class="card" style="width: 18rem;">
    <img src={{ image_url }} class="card-img-top">
    <div class="card-body d-flex flex-column">
      <h3 class="card-title">{{ card_title }}</h3>
      <h6 class="card-tags">теги:
      {% for tag in card_tags %}
        <span class="badge bg-secondary"> {{ tag }}</span>
      {% endfor %}
      </h6>  
      <h3>цена: {{ price }}</h3>
      <h6>категория: {{ card_category }}</h6>
      {% autoescape off %}
      <h6 class="card-text">описание: {{ card_text|truncatewords:10 }} </h6>
      {% endautoescape %}
      <a href="#" class="btn btn-primary mt-auto">В корзину</a>
      <a href={% url "catalog:item_detail" item_id=item_id_%} class="stretched-link"></a>
    </div>
  </div>
